<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   --> 
  <targets>
        <target name="logfile" 
			xsi:type="File" 
			fileName="${basedir}/logs/log.txt" 
			layout="${level} | ${longdate} | ${message} | ${callsite:fileName=true} ${onexception:inner=${exception:format=tostring,StackTrace}}"
			archiveFileName="${basedir}/logs/log.{#}.txt"
        	archiveEvery="Day"
        	archiveNumbering="Rolling"
        	maxArchiveFiles="3"
        	concurrentWrites="true" 
			/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>
